.teamMemberForm{
  margin:20px 0px;
}

.teamMemberForm section{
  margin-bottom:20px;
}

.teamMemberForm label{
  font-weight:bold;
  display:block;
  text-align:left;
}

.teamMemberForm input, .teamMemberForm select, .teamMemberForm textarea, .teamMemberForm div.colorPickerContainer{
  display:block;
  width:100%;
}

/* 
firstName: 'Brett',
lastName: 'Hellman',
title: 'CEO',
photoUrl:
  'https://matterapp.com/static/brett_ceo_matter-3d493ed53676c4a47eff2fa7db62b9e7.jpg',
favoriteColor: '#4F52B1',
story: */